# CSV

In [ ]:
pip install pyodide-py

In [ ]:
pip install micropip

In [ ]:
pip install fetch

In [1]:
#could only run in jupyterlite
import piplite
await piplite.install(['seaborn','lxml','openpyxl'])
import pyodide
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv"

await download(filename,"/Workspaces/Python Workspace/startwith_jupyter/data/addresses.csv")

NameError: name '_jsfetch' is not defined

In [30]:
import pandas

file="/Workspaces/Python Workspace/startwith_jupyter/data/addresses.csv"
df = pandas.read_csv(file, header=None)
coloumn_list=['First Name', 'Last Name', 'Location ', 'City','State','Area Code']
df.columns=coloumn_list
df[['First Name', 'Last Name']]
df.iloc[0:3]
df.loc[0:3,'First Name']

#numpy here
import numpy
df2=pandas.DataFrame(numpy.array(([[1, 2, 3], [4, 5, 6], [7, 8, 9]])))
df2.columns=['a', 'b', 'c']
df2+10
df2.transform(func = lambda x : x + 10)
df2.transform(func = ['sqrt'])

          a         b         c
       sqrt      sqrt      sqrt
0  1.000000  1.414214  1.732051
1  2.000000  2.236068  2.449490
2  2.645751  2.828427  3.000000

In [43]:
import json
json_file={    'first_name' : 'Mark',
    'last_name' : 'abc',
    'age' : 27,
    'address': {
        "streetAddress": "21 2nd Street",
        "city": "New York",
        "state": "NY",
        "postalCode": "10021-3100"
    }
}
json_file
json_path="/Workspaces/Python Workspace/startwith_jupyter/data/.person.json"
json_path2="/Workspaces/Python Workspace/startwith_jupyter/data/sample.json"
path="/Workspaces/Python Workspace/startwith_jupyter/data"
with open(json_path,'w') as write:
    json.dump(json_file, write)

json_object = json.dumps(json_file, indent = 4)  #convert dict to json
with open(json_path2,'w') as write2:
    write2.write(json_object)

In [47]:
with open(json_path2,'r') as read:
    #print(read.read())
    json3=json.load(read)
json3

df3=pandas.read_excel(f"{path}/file_example_XLSX_10.xlsx")
df3

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

In [ ]:
import xml.etree.ElementTree as ET

# create the file structure
employee = ET.Element('employee')
details = ET.SubElement(employee, 'details')
first = ET.SubElement(details, 'firstname')
second = ET.SubElement(details, 'lastname')
third = ET.SubElement(details, 'age')
first.text = 'Shiv'
second.text = 'Mishra'
third.text = '23'

# create a new XML file with the results
mydata1 = ET.ElementTree(employee)
# myfile = open("items2.xml", "wb")
# myfile.write(mydata)
with open("new_sample.xml", "wb") as files:
    mydata1.write(files)